/* Default styling for every page */
:root{
    --background-color: #E9F2F9;
    --primary1-color: #D7E9F7;
    --primary2-color: #6C6EFF;
    --section-color: #DAEBF7;
    --font-color: #5E5979;
}

html, body{
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    scroll-behavior: smooth;
}


/* Navbar for each webpage */

nav{
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 1;
    background: #D7E6F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu,
.nav-logo{
    margin: 1.3em;
    
}


.nav-logo{
    font-size: 25px;
    font-weight: 900;
}
a{
    text-decoration: none;
    color: var(--font-color);
}


/* NavMenu of each page*/


.menu-block{
    position: absolute;
    height: 100vh;
    width: 70vw;
    top: 0;
    transition: 0.5s ease-in-out;
    transform: translateX(-100%);
    background-color: #EFFBFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

li{
    list-style: none;
}

#nav-link{
    padding-left: 0.8em;
    transition: 0.2s ease-in;
}
.block-menu,
.nav-logo{
    margin: 1.2em;
    
}
.block-menu{
    background-color:  #DEEFFB;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#cross{
    margin: 4px 9.5px;
    color: #6C63FF;
    width: 10px;
}
.block-logo{
    font-size: 25px;
    margin-left: 0.9em;
    font-weight: 900;
}
.block-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-title h4{
    padding-left: 1.5em;
    font-size: 15px;
}

.nav-links{
    margin-top: 3em;
}
.nav-list{
    margin-left: -1em;
    display: flex;
    flex-direction: column;
    gap: 5em;
}

#underline1{
    margin: -12px 20px;
    width: 120px;
    border: 2px solid var(--primary1-color);
}

.sub-links{
padding-top: 0.5em;
display: none;
}
#sub-link a{
    font-size: 12px;
    font-weight: lighter;
}

.subActive{
    display: block;
}
/* Hover effects */

#nav-link:hover,
a:hover{
    color:var(--primary2-color) ;
}
.active{
    transform: translateX(0%);
}


/* Main section */

main{
    height: 100vh;
    position: relative;
    top: 30vh;
    z-index: 0;
}

#main-img{
    display: block;
    margin: 5vh auto;
    height: 250px;
    width: 250px;
}

.main-text{
    text-align: center;
}
.main-text p{
    font-size: 12px;
    max-width: 300px;
    margin: -2vh auto;
}

/* Article about AI & ML */

article{
    border: 0.1px solid rgb(196, 222, 236);
    display: flex;
    flex-direction: column;
}
.first{
    background-color: #E2EEF7;
    
}
.text{
    padding-left: 2em;
}
.text p{
    font-size: 11px;
    word-spacing: 0.01em;
    line-height: 2em;
    width: 250px;
    padding-top: 1.5em;
    text-align: left;
}

#article-img{
    display: block;
    height: 220px;
    width: 220px;
    margin: 0 auto;
}
#aLine{
    width: 30%;
    border: 2px solid var(--primary2-color);
    border-radius: 10px;
    margin: -2.5vh 0vw;
    
}

/* Article about IoT */

.second{
    background-color: #E2F2FD;
}

/* Article about Quantum Computing */
.third{
    background-color: #DEEFFB;
}
/* Footer */
footer{
    background-color: #D2EBFD;
}

.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.0em;
}

.footer-text{
    text-align: center;
}

.footer-text h1{
    font-size: 18px;
}

.footer-text p,
.footer-text li{
    font-size: 12px;
    max-width: 50vw;
}

.footer-links{
    margin-top: 0vh;
    display: inline-block;
    text-align: center;
}





